.jumbotron{
    background: url(../images/jk-35135-unsplash.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}